.statistics-container-comparator{
  background-color: #4e3a65;
}
.curiosities-container {
  padding: 40px 20px;
  color: var(--text-white);
  text-align: center;
  background-color: #4e3a65;
  min-height: 100vh;
  padding-top: 100px;
}

.curiosities-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--highlight-teal);
  font-size: 4.5rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  animation: fadeInUp 0.8s ease-out;
  padding-top: 50px;
}

.curiosities-subtitle {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
  max-width: 1000px;
  margin: 0 auto 30px auto;
  line-height: 1.6;
  animation: fadeInUp 0.8s ease-out;
}

.curiosities-tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 70px;
}

.curiosity-tab {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.curiosity-tab.active {
  background: var(--highlight-teal);
}

.curiosities-grid {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8rem; /* ← Espacio entre tarjetas */
  padding: 40px 20px;
  row-gap: 2.5rem;
}
